@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "DominicanSmallCaps";
  src: url("../fonts/DominicanSmallCaps.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.cc-title {
  font-family: "DominicanSmallCaps";
}

.cc-subtitle {
  font-family: "DominicanSmallCaps";
  font-size: small;
  font-weight: bold;
}

.wrapper {
  border-top: 10px solid green;
}

.roll.diecohorsdamage img, .roll.diecohorscoin img {
  height: 24px;
  width: 24px;
}

.dice-roll.challenge-roll .part-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.dice-roll.challenge-roll .part-total img {
  width: 24px;
  height: 24px;
  border: unset;
}

.challenge-die {
  -webkit-mask-image: url("../assets/ui/symbols/challenge-die.png");
  mask-image: url("../assets/ui/symbols/challenge-die.png");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.character-attributes .attribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  place-content: center flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  -webkit-mask-image: url("../assets/ui/tables/table-header1.webp");
  mask-image: url("../assets/ui/tables/table-header1.webp");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: black;
  color: white;
}
.character-attributes .attribute .label {
  text-align: center;
}
.character-attributes .attribute .value-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  place-content: center flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 4px;
}
.character-attributes .attribute .value-row .value {
  font-size: 36px;
  line-height: 30px;
}
.character-attributes .attribute .value-row .bonus-damage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  place-content: center flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 4px;
  color: #77767b;
}
.character-attributes .attribute .value-row .bonus-damage .challenge-die {
  width: 20px;
  height: 20px;
  background-color: #77767b;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.font-primary {
  font-family: "Roboto", sans-serif;
}

.pad-2 {
  padding: 2px;
}

.pad-5 {
  padding: 5px;
}

.font-size-11 {
  font-size: 11px;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.align-mid {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

[fxLayout] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[fxLayout="row wrap"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

[fxLayout=row] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

[fxLayout=column] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

[fxLayoutAlign="center center"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

[fxLayoutAlign="start center"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

[fxLayoutAlign="start start"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-start flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

[fxLayoutAlign="start end"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

[fxLayoutAlign="end center"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

[fxFlex] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

[fxFlex=none] {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

[fxLayoutGap="4px"] {
  gap: 4px;
}

[fxLayoutGap="8px"] {
  gap: 8px;
}

[fxLayoutGap="12px"] {
  gap: 12px;
}

[fxLayoutGap="16px"] {
  gap: 16px;
}

[fxLayoutGap="20px"] {
  gap: 20px;
}

@media only screen and (min-width: 960px) {
  [fxFlex-gt-sm="50"] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 50% !important;
    flex: 1 1 50% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 50% !important;
  }
  [fxFlex-gt-sm="33"] {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 33% !important;
    flex: 1 1 33% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 33% !important;
  }
}
[fxFlex="33"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33%;
  flex: 1 1 33%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 33%;
}

[fxFlex="67"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33%;
  flex: 1 1 33%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 33%;
}

[fxFlex="0"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 0%;
}

[fxFlex="5"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 5%;
  flex: 1 1 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 5%;
}

[fxFlex="10"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10%;
  flex: 1 1 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 10%;
}

[fxFlex="15"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 15%;
  flex: 1 1 15%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 15%;
}

[fxFlex="20"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 20%;
}

[fxFlex="25"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 25%;
}

[fxFlex="30"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 30%;
}

[fxFlex="35"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 35%;
  flex: 1 1 35%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 35%;
}

[fxFlex="40"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 40%;
}

[fxFlex="45"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 45%;
  flex: 1 1 45%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 45%;
}

[fxFlex="50"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 50%;
}

[fxFlex="55"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 55%;
  flex: 1 1 55%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 55%;
}

[fxFlex="60"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 60%;
}

[fxFlex="65"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 65%;
  flex: 1 1 65%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 65%;
}

[fxFlex="70"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 70%;
}

[fxFlex="75"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 75%;
  flex: 1 1 75%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 75%;
}

[fxFlex="80"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 80%;
  flex: 1 1 80%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 80%;
}

[fxFlex="85"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 85%;
  flex: 1 1 85%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 85%;
}

[fxFlex="90"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 90%;
  flex: 1 1 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 90%;
}

[fxFlex="95"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 95%;
  flex: 1 1 95%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 95%;
}

[fxFlex="100"] {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}

.cohors-cthulhu .window-content {
  background-image: url("../assets/ui/bg-paper.webp");
  background-size: auto;
  position: relative;
  z-index: 0;
}
.cohors-cthulhu .window-content::before {
  content: "";
  -webkit-mask-image: url("../assets/ui/bg-border-02.webp");
  mask-image: url("../assets/ui/bg-border-02.webp");
  -webkit-mask-size: 120px;
  mask-size: 120px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #860a13;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.cohors-cthulhu div.hand-drawn-borders {
  position: relative;
  padding: 12px 10px 8px 10px;
}
.cohors-cthulhu div.hand-drawn-borders::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-image-slice: 10;
  border-image-repeat: repeat;
  opacity: 0.4;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cohors-cthulhu div.hand-drawn-borders:nth-of-type(4n)::before {
  border-image-source: url("../assets/ui/boxes/hand-drawn-box1.webp");
}
.cohors-cthulhu div.hand-drawn-borders:nth-of-type(4n + 1)::before {
  border-image-source: url("../assets/ui/boxes/hand-drawn-box2.webp");
}
.cohors-cthulhu div.hand-drawn-borders:nth-of-type(4n + 2)::before {
  border-image-source: url("../assets/ui/boxes/hand-drawn-box3.webp");
}
.cohors-cthulhu div.hand-drawn-borders:nth-of-type(4n + 3)::before {
  border-image-source: url("../assets/ui/boxes/hand-drawn-box4.webp");
}
.cohors-cthulhu .fieldset {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  height: 40px;
  margin-top: 10px;
}
.cohors-cthulhu .fieldset .cell-header,
.cohors-cthulhu .fieldset .content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cohors-cthulhu .fieldset.fixed {
  min-width: 80px;
  width: 80px;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
}
.cohors-cthulhu .fieldset.fixed .cell-header {
  left: 10px;
  width: 60px;
  padding: 0;
}
.cohors-cthulhu .fieldset .cell-header {
  position: absolute;
  display: block;
  width: 80%;
  height: 18px;
  top: -6px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: normal;
  -webkit-mask-image: url("../assets/ui/tables/table-header1.webp");
  mask-image: url("../assets/ui/tables/table-header1.webp");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.cohors-cthulhu .fieldset .cell-header.bg-gray-medium, .cohors-cthulhu .fieldset .cell-header.bg-gray-dark {
  color: white;
}
.cohors-cthulhu .fieldset .cell-header.bg-gray-light {
  background-color: #999895;
}
.cohors-cthulhu .fieldset .cell-header.bg-gray-medium {
  background-color: #77767b;
}
.cohors-cthulhu .fieldset .cell-header.bg-gray-dark {
  background-color: #2b2a2c;
}
.cohors-cthulhu .fieldset .content {
  width: 100%;
}

/* Styles limited to cohors cthulhu sheets */
.cohors-cthulhu {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for FalloutItem (can be removed if not needed) */
}
.cohors-cthulhu .item-form {
  font-family: "Roboto", sans-serif;
}
.cohors-cthulhu .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.cohors-cthulhu .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.cohors-cthulhu .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  border-bottom: 0;
}
.cohors-cthulhu .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.cohors-cthulhu .sheet-header h2.tag {
  height: 30px;
  padding: 0px;
  border-bottom: 0;
}
.cohors-cthulhu .sheet-header h2.tag input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.cohors-cthulhu .sheet-header .right-side {
  padding: 0 0 0 30px;
}
.cohors-cthulhu .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  font-size: 18px;
  font-family: "DominicanSmallCaps";
  text-transform: uppercase;
}
.cohors-cthulhu .fallout.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.cohors-cthulhu .fallout.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
}
.cohors-cthulhu .fallout.sheet .editor {
  height: 100%;
}
.cohors-cthulhu .fallout.sheet .editor .editor-content {
  height: 100%;
}
.cohors-cthulhu .description-field {
  background: rgba(245, 245, 220, 0.301);
  padding: 0 5px;
  border: 1px solid lightgray;
}
.cohors-cthulhu .description-field .editor {
  height: 100%;
}
.cohors-cthulhu .editor .editor-content {
  min-height: 200px;
}
.cohors-cthulhu .box {
  padding: 0 5px 5px 5px;
  margin-bottom: 15px;
  background-color: rgba(229, 232, 234, 0.1215686275);
  color: #000;
}
.cohors-cthulhu .box.padding5 {
  padding: 5px 5px 5px 5px;
}
.cohors-cthulhu .box .items-list .item.items-header {
  margin-top: 0px !important;
}
.cohors-cthulhu .box.no-padding {
  padding: 0 !important;
}
.cohors-cthulhu .box.no-padding .box-header {
  margin: 0 0 0 0;
}
.cohors-cthulhu .box.no-padding > div {
  padding: 5px;
}
.cohors-cthulhu .box .box-header {
  margin: 0 -5px 5px -5px;
  padding: 5px 5px 2px 5px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.cohors-cthulhu .box .box-header * {
  padding: 0;
  margin: 0;
  color: white;
}
.cohors-cthulhu .bgOdd {
  background-color: rgba(0, 0, 0, 0.1843137255);
}
.cohors-cthulhu .bgEven {
  background-color: rgba(0, 0, 0, 0.3098039216);
}
.cohors-cthulhu input[type=text],
.cohors-cthulhu input[type=number] {
  background-color: rgba(0, 0, 0, 0.2);
}
.cohors-cthulhu input[type=text].underline,
.cohors-cthulhu input[type=number].underline {
  background-color: unset;
  border: unset;
  border-bottom: 1px dashed #000;
  color: #000;
}
.cohors-cthulhu input[type=text].underline::-webkit-input-placeholder, .cohors-cthulhu input[type=number].underline::-webkit-input-placeholder {
  color: #999;
}
.cohors-cthulhu input[type=text].underline::-moz-placeholder, .cohors-cthulhu input[type=number].underline::-moz-placeholder {
  color: #999;
}
.cohors-cthulhu input[type=text].underline:-ms-input-placeholder, .cohors-cthulhu input[type=number].underline:-ms-input-placeholder {
  color: #999;
}
.cohors-cthulhu input[type=text].underline::-ms-input-placeholder, .cohors-cthulhu input[type=number].underline::-ms-input-placeholder {
  color: #999;
}
.cohors-cthulhu input[type=text].underline::placeholder,
.cohors-cthulhu input[type=number].underline::placeholder {
  color: #999;
}
.cohors-cthulhu select {
  color: #000;
  background-color: #e6e6e6;
}
.cohors-cthulhu .toggle-label {
  padding: 3px;
  border: 0 solid;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: cadetblue;
}
.cohors-cthulhu .toggle-label input[type=checkbox] {
  display: none;
}
.cohors-cthulhu .toggle-label label {
  cursor: pointer;
}
.cohors-cthulhu .toggle-label.active {
  color: greenyellow;
  background-color: black;
}
.cohors-cthulhu .wpn-tag-toggler {
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 100%;
}
.cohors-cthulhu input.chk-btn + label:active,
.cohors-cthulhu input.chk-btn:checked + label {
  -webkit-box-shadow: 0px 0px 3px inset;
  box-shadow: 0px 0px 3px inset;
  background: #eee;
}
.cohors-cthulhu .font-lobster {
  font-family: "DominicanSmallCaps";
}
.cohors-cthulhu .tab-switch {
  cursor: pointer;
}
.cohors-cthulhu .color-prim {
  color: #000;
}
.cohors-cthulhu .color-prim-contra {
  color: #fff;
}
.cohors-cthulhu .color-secondary {
  color: #2b2a2c;
}
.cohors-cthulhu .resource-label {
  font-weight: bold;
  color: #000;
}
.cohors-cthulhu .resource-row {
  padding: 2px;
  margin-bottom: 2px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cohors-cthulhu .resource-header {
  padding: 2px 2px 2px 5px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.cohors-cthulhu .upperC {
  text-transform: uppercase;
}
.cohors-cthulhu .lowerC {
  text-transform: lowercase;
}
.cohors-cthulhu .text-center {
  text-align: center;
}
.cohors-cthulhu .num-short-2 {
  max-width: 2rem;
  text-align: center;
}
.cohors-cthulhu .num-short-3 {
  max-width: 3rem;
  text-align: center;
}
.cohors-cthulhu .item-summary-wrapper {
  min-height: 20px;
}
.cohors-cthulhu .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.cohors-cthulhu .items-header > * {
  font-size: 14px;
  text-align: center;
}
.cohors-cthulhu .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cohors-cthulhu .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #000;
}
.cohors-cthulhu .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cohors-cthulhu .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 24px;
}
.cohors-cthulhu .items-list .item-name h3,
.cohors-cthulhu .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.cohors-cthulhu .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cohors-cthulhu .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.cohors-cthulhu .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #637294;
  background-color: rgba(0, 0, 0, 0.2);
}
.cohors-cthulhu .items-list .item:last-child {
  border-bottom: none;
}
.cohors-cthulhu .items-list .item .item-name {
  color: #191813;
}
.cohors-cthulhu .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin: 3px 0 0 5px;
}
.cohors-cthulhu .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.cohors-cthulhu .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
}
.cohors-cthulhu .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
  color: white;
}
.cohors-cthulhu .items-list .items-header .item-name {
  color: white;
  padding-left: 5px;
  text-align: left;
}
.cohors-cthulhu .items-list .item-skill-value,
.cohors-cthulhu .items-list .item-skill-tag {
  -webkit-box-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
  text-align: center;
  padding: 2px 0;
}
.cohors-cthulhu .items-list .item-skill-value input[type=number],
.cohors-cthulhu .items-list .item-skill-tag input[type=number] {
  max-width: 2rem;
  max-height: 1.3rem;
}
.cohors-cthulhu .items-list .item-skill-value input[type=checkbox],
.cohors-cthulhu .items-list .item-skill-tag input[type=checkbox] {
  width: 12px;
  height: 12px;
}
.cohors-cthulhu .item-unequipped,
.cohors-cthulhu .item-unstashed,
.cohors-cthulhu .item-unpowered,
.cohors-cthulhu .favorite-start-dim {
  color: rgba(0, 0, 0, 0.2);
}
.cohors-cthulhu .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}