$stress-box-width: 15px;
$stress-box-gap: 3px;
$stress-boxes-per-row: 5;

fieldset.character-fortune {
  $fixed-fieldset-width: 120px;
  $fixed-fieldset-margin: 10px;
  $fixed-header-width: $fixed-fieldset-width - 2 * $fixed-fieldset-margin;

  min-width: $fixed-fieldset-width;
  width: $fixed-fieldset-width;
  align-items: stretch;
  text-align: center;

  legend {
    left: $fixed-fieldset-margin;
    width: $fixed-header-width;
    padding: 0;
  }
}

.fortune-container {
  .label {
    @include cc-subtitle;
  }

  .fortune-boxes {
    display: grid;
    grid-template-columns: repeat($stress-boxes-per-row, 1fr);
    grid-template-rows: 1fr;
    column-gap: $stress-box-gap;
  }

  div.fortune-box {
    width: $stress-box-width;
    height: $stress-box-width;

    border: 1px solid black;

    grid-row: 1;

    &.available {
      background-color: white;
    }

    &.used {
      background-color: $c-red;
    }

    &.fatigue {
      background-color: $c-gray-medium;
    }

    &.over-max {
      background-color: black;
    }
  }
}
